.header {
  box-sizing: border-box;
}

.header_color {
  background-color: var(--white);
}
.header__title {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  /* identical to box height, or 128% */
  color: var(--black);
  margin: 0;
  padding-bottom: 40px;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 40px;
}


.header_bg_transparent {
  background-color: var(--white);

}


.header__second-page{
  height: 82px;
  grid-area: header;
  padding: 0;
}
.header__second_bg_transparent {
  background-color: rgba(249, 250, 252, 1);
}
.header__second-logo {
  padding-left: 165px;
  padding-top: 25px;
}

@media (max-width:575.98px) {
  .header__logo {
    text-align: center;
    padding-bottom: 48px;
    padding-top: 16px;
    
  }
  .header__title {
    padding-left: 16px;
    padding-bottom: 69px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;
color: var(--grey-4);
padding-right: 71px;
  }

  .header__second-page {
    height: 64px;
   
  }
.header__second-logo {
    text-align: center;
    padding-left: 0px;
    padding-top: 16px;

  }
}