.header_color {
  background-color: var(--white);
}
.header__title {
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  /* identical to box height, or 128% */
  color: #212429;
  margin: 0;
  padding-bottom: 77px;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 40px;
}


.header_bg_transparent {
  background-color: var(--white);

}

@media (max-width:575.98px) {
  .header__logo {
    text-align: center;
    padding-bottom: 48px;
  }
  .header__title {
    padding-left: 16px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;
color: #495057;
  }
}