.button
{   border: 1px ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  width: 189px;
  height: 48px;
  display: inline;
  border-radius: 8px;
}

.button_primary
{   
    background-color: var(--primary);
    color: #ffffff;
    border-color: var(--primary);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
     
}

.button_secondary
{   
    background-color: var(--secondary);
    color: #ffffff;
    border-color: var(--secondary);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_alternate
{   border: 1px solid var(--alternate);
    background-color: #ffffff;
    color: #495057;
    border-color: var(--alternate);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button:hover
{
  
  cursor: pointer;
  
}

.button_primary:hover
{   
    background-color: #374FC7;
    
}


.button_secondary:hover
{
    background-color: #5028C6;
}
.button_alternate:hover 
{   border: 1px solid #212429;
    
}

.button_primary_disabled:disabled
{
  cursor: not-allowed;
  background-color: var(--primary);
    color: #ffffff;
    border-color: var(--primary);
  opacity: 50%;
  
}

.button_secondary_disabled:disabled
{
  cursor: not-allowed;
  background-color: var(--secondary);
    color: #ffffff;
    border-color: var(--secondary);
  opacity: 50%;
  
}

.button_alternate_disabled:disabled
{ 
  cursor: not-allowed;
  background-color: #ffffff;
  color: #495057;
  border-color: var(--alternate);
  opacity: 50%;
  
}

