.button
{   display: inline-flex;
  border: 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  box-sizing:border-box;
  
  height: 48px;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 4rem;
   
  border-radius: 8px;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
  cursor: pointer;
  
  
}


.button_primary
{   
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.button_secondary
{  
  
    background-color: var(--secondary);
    color: var(--white);
    border-color: var(--secondary);
    
}

.button_alternate
{ 
  border: 1px solid var(--alternate);
    background-color: var(--white);
    color: var(--grey-4);
    border-color: var(--alternate); 
}

.button_container {
  display:inline-grid;
  white-space: nowrap;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap:30px;
  padding: 0;
  height: auto;
}

.button_primary:hover
{   
  background-color: #374FC7; 
}

.button_secondary:hover
{
   background-color: #5028C6;
}

.button_alternate:hover 
{  
   border: 1px solid #212429;  
}

.button:disabled { 
  pointer-events: none;
  opacity: 50%;
  
}


@media (max-width:575.98px) {

  .button
  {   
      
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 8px;
  
  }
 
  .button_container {
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    grid-gap:24px;
    padding: 0;
    height: auto;
  }
}
