.page {
    max-height: 100%;
    background-color: #F9FAFC;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "main"
                        "footer";
}

.page__header {
    height: 82px;
    background-color: #FFFFFF;
    grid-area: header;
    
}

.page__main {
    margin-top: 36px;
    grid-area: main;
    display:grid;
    grid-template-columns: auto 1fr;
    
}

.menu {
    width:229px;
    padding-left: 165px;
    display:flex;
    flex-direction: column;
    gap:4px;
    flex:none;
    flex-grow: 0;
    
}
.menu__title {
    height: 26px;
    font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   padding-bottom: 12px;
   color: #000000;
   margin:0;
}
.menu__box {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
       color: #212429;
   text-decoration: none;
   
}

.menu__box:nth-last-child(1) {
    padding-top: 26px;
}

.component {
    
    height: 746px;
    background-color: #FFFFFF;
    display:flex;
    margin-right: 165px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 12px;
margin-left: 56px;

}

.page__footer {
    height: 130px;
/* h5 */
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */

letter-spacing: 0.04em;
text-transform: uppercase;
color: #ACB5BD;
    grid-area:footer;
    display:flex;
    justify-content:center;
    align-items: center;
   
}