.card {
    
    height: 367px;
    width: 350px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
   border-radius: 12px;
   display:flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 32px 25px 25px 25px;
   
   
}

.card__text {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin: 0;
    text-align: center;
    color: #212429;
     padding-top: 75px;
    }

.card_tooltip {
   justify-content: center;
   align-items: center;
}

.card_calendar {
    padding: 0;
}

@media (max-width:575.98px) {

    .card {
    
        height: 210px;
        width: 164px;
       padding: 23px 12px 12px 12px;
       
    }
    
    .card__text {
        
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-top: 12px;
    }
}