.card {
   text-decoration: none;
   
    height: 367px;
    width: 350px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
   border-radius: 12px;
   display:flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 32px 25px 32px 25px;
   position: relative;
   align-items: center;
   
}

.card__title {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin: 0;
    text-align: center;
    color: var(--black);
     display:inline-flex;
     white-space: nowrap;
     position:absolute;
    top: 78%;
    left: 50%;
    transform:translateX(-50%)
    
    
}
.card__text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: var(--grey-4);
margin: 0;
flex-grow: 1;
align-items: flex-end;

    display:flex;
}


@media (max-width:575.98px) {

    .card {
      border-radius:8px;
        height: 231px;
        width: 164px;
       padding: 10px 8px 8px 8px;
       
    }
    
    .card__title {
        
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
       
    }

    .card__text {
        font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
color: var(--grey-3);
    }

    

    
}