.accordion {
    background-color: var(--white);
}

.accordion__item {
    box-sizing: border-box ;
    font-size:16px;
    vertical-align: top;
    text-align:left;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 32px;
   
    margin-bottom: 8px;
    height: 72px;
    transition: height 200ms ease-out;
 }
.accordion__item[open] {
    padding-bottom: 32px;
    height: 144px;
}
.accordion__item:last-child {
    margin-bottom: 0;
}
.accordion__summary::-webkit-details-marker { 
    display: none;
}
.accordion__summary {
    list-style: none;
    font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display:flex;
justify-content:space-between;
align-items: center;
   cursor:pointer; 
}

 .accordion__content {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
     margin-top: 16px;
     color: #495057;
     margin-bottom: 0;
 }


.accordion__item[open] .accordion__marker {
    transform: rotate(180deg);
    
}

@media (max-width: 575.98px) {
    .accordion__item {
        font-size:8px;
        padding: 12px 12px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 4px;
        height: 40px;

     }

     .accordion__item[open] {
        padding-bottom: 10px;
        height: 80px;
    }

    .accordion__summary {
    font-size: 12px;
    line-height: 12px;
    
    }
    .accordion__content {
    margin-top: 6px;   
    font-size: 8px;
    line-height: 12px;
     }
}

