
.toggle {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.toggle__input {
    position: absolute;
    outline: none;
    clip: rect(0,0,0,0);
   }
   
.toggle__state {
      display:flex;
      gap:12px;
      align-items: center;
      cursor:pointer;
      
   }
   
.toggle__control {
   
width: 52px;
height: 28px;
background: var(--white);
border: 1px solid var(--grey-2);
border-radius: 16px;
display:flex;
align-items: center;


box-sizing: border-box;
 transition: all 450ms ease-in-out; 
 
}

.toggle__icon {
      
      margin:2px 1px;
      width: 24px;
      height: 24px;

      background: var(--grey-2);
      border-radius: 16px;
      
      transition: transform 450ms ease-in-out;
}

.toggle__title {
   
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #495057;
}

.toggle__input:checked ~ .toggle__state .toggle__control {
   
    background-color: var(--blue-2);
    border-color: var(--blue-2);
    
}


   
.toggle__input:checked ~ .toggle__state .toggle__icon {
      display:block;
      
      background-color: var(--white);
      transform: translateX(100%);
   
}
   
.toggle__input:focus ~ .toggle__state .toggle__title {
       text-decoration: underline;
}
   
.toggle__input:disabled ~ .toggle__state .toggle__control {
   
    background-color: var(--grey-2);
}
   
.toggle__input:disabled ~ .toggle__state .toggle__title {
   
    color: var(--grey-2);
}

.toggle__input:disabled ~ .toggle__state .toggle__control .toggle__icon {
   
    background-color: var(--grey-3);
    opacity: 0.2;
}