
.page__header {
    height: 82px;
    grid-area: header;
    padding: 0;
}

.page__footer {
    display:flex;
    height: 130px;
    grid-area:footer;
   justify-content:center;
    align-items: center;
}