
.page__header {
    height: 82px;
    grid-area: header;
    padding: 0;
}
.page_header_bg_transparent {
    background-color: rgba(249, 250, 252, 1);
}
.page__logo {
    padding-left: 165px;
    padding-top: 25px;
}

.page {
    height: 100%;
    background-color: #F9FAFC;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "main"
                        "footer";
}

.page__main {
    margin-top: 36px;
    grid-area: main;
    display:grid;
    grid-template-columns: auto 1fr;
    min-height: calc(100vh - 130px);
    margin-left: 165px;
    margin-right: 165px;
}

.page__footer {
    display:flex;
    height: 130px;
    grid-area:footer;
   justify-content:center;
    align-items: center;
}

@media (max-width: 575.98px) {
    .page__header {
        height: 64px;
       
    }
    .page__logo {
        text-align: center;
        padding-left: 0px;
    padding-top: 16px;
    
    }
    .page__main {
        grid-template-columns: 1fr;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}