.avatar {
    display:flex;
    
}
.avatar__img {
    box-sizing: border-box;
    
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}


@media (max-width: 575.98px) {

    .avatar {
       padding:16px;
    }
}