.main__second-page {
    margin-top: 36px;
    grid-area: main;
    display: grid;
    grid-template-columns: 285px 1fr;
    min-height: calc(100vh - 130px);

}

@media (max-width: 767px) {

    .main__second-page {
        grid-template-columns: 1fr;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}