.calendar {
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    max-width: 100%;
    padding: 28px 30px 30px;
    
}

.calendar__title {
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: flex-end;
justify-content: center;
color: #334D6E;
}
.calendar__wrapper {
    padding-bottom: 100%;
    position: relative;
}
.calendar__inner {
    width: 100%;
    height: 100%;
    display:grid;
    position: absolute;
    top:0;
    left: 0;
    grid-template-columns:  repeat(7, auto);
    grid-template-rows:  repeat(7, auto);
}

.calendar__item {
    display:flex;
    justify-content: center;
    align-items: center;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #334D6E;

}
.calendar__item_day {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

display: flex;
align-items: flex-end;
text-align: center;

/* #90A0B7 */

color: #90A0B7;
}

.calendar__item_marked {
    background-color: var(--blue-2);
    color: var(--white);
}

.calendar__item_between {
    background: #A0B1F5;
    opacity: 0.2;
}

.calendar__item_resize {
    
    font-size: 12px;
}

.calendar__item_day_resize {

    font-size: 8px;
    
}

.calendar_resize {
    padding: 20px 22px 22px;
}

.calendar_size_inner-page {
    width: 304px;
}

@media (max-width:575.98px) {
    
    .calendar {
        width: 100%;
        border: none;
        padding: 10px 8px 8px 8px;
    }

    .calendar__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 16px;
    }

    .calendar__item {
        
    font-size: 8px;
    line-height: 14px;
    
   }
   .calendar__item_day {
    font-size: 6px;
    line-height: 14px;
   }

   .calendar_size_inner-page {
    width: 250px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    
    
    padding: 28px 30px 30px;
}
.calendar_size_inner-page .calendar__title{
   font-size:20px;
 }

 .calendar_size_inner-page .calendar__item {
    font-size: 16px;
line-height: 20px;
}
   
}