.tooltip {
    display: inline-flex;
    position: relative;
}

.tooltip__trigger {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.tooltip__helper {
    background-color: var(--blue-2);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--grey-2);
    padding: 13px 21px;
    position: absolute;
    bottom: calc(100% + 9px);
    left: 50%;
    transform: translateX(-50%);
    display: none;

}

.tooltip__helper_display {
    display: block;

}

.tooltip__helper:before {

    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 6px solid var(--blue-2);

}

.tooltip__trigger:hover~.tooltip__helper {
    display: block;

}

.tooltip_resize {
    position: absolute;
    top: 50%;
}

.tooltip__icon {
    width: 24px;
    height: 24px;
}

.tooltip_inner-page {
    margin-top: 70px;
    margin-left: 30px;
}

@media (max-width:575.98px) {

    .tooltip__helper {

        font-size: 12px;
        line-height: 16px;

    }
}