.footer {

  height: 200px;
 
}

.footer__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: #212429;
  text-align: center;
  
}

.footer__text {

  text-align: center;
  color:#212429;
  
 
}
.page__footer {
    display:flex;
    height: 130px;
    grid-area:footer;
   justify-content:center;
    align-items: center;
    
      
}
.footer_bg_transparent {
  background-color: #F9FAFC;

}

.footer__inscription {
   
    /* h5 */
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
  
}
