.footer {

    height: 200px;
   

}

.footer__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    color: #212429;
    text-align: center;
    
}

.footer__text {

    text-align: center;
    color:#212429;
    
   
}