.component {
    
    background-color: var(--white);
    display:flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
border-radius: 12px;
 padding-top: 32px;
 padding-left: 48px;
 padding-right: 48px;
}

.component__histogram {
    margin: 0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 38px;
box-sizing: border-box;
padding-bottom: 24px;
color: #495057;
}

@media (max-width:575.98px) {
    .component {
        flex-grow: 1;
        flex-shrink: 1;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 0%;
        box-shadow: 0;
    }
    .component__histogram {
        padding-bottom: 20px;
        font-size: 20px;
        line-height: 26px;

    }
}