.page {
    height: 100%;
    background-color: #E5E5E5;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
                         "main"
                        "footer";
}

.page__header {
    height: 82px;
    background-color: aqua;
    grid-area: header;
}

.page__main {
    height:100%;
    width: 100%;
    grid-area: main;
    display:grid;
    grid-template-columns: 450px 1fr;
}

.page__footer {
    height: 166px;
/* h5 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */

letter-spacing: 0.04em;
text-transform: uppercase;
color: #ACB5BD;
    grid-area:footer;
    display:flex;
    justify-content:center;
    align-items: center;
}