.form {
  display:inline-flex;
  flex-direction: column; 
 
}

.form__label {
 font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
padding-bottom: 5px;
letter-spacing: 0.04em;
text-transform: uppercase;

color: var(--grey-3);
}
.form__wrapper {
    position: relative;
    display:flex;
   align-items: center;
   
}

.form__input-text {
    box-sizing: border-box;
  height: 56px;
  padding: 17px 52px 13px 24px;
background: var(--white);
border: 1px solid var(--grey-2);
border-radius: 8px
}

.form_success {
    border-color: var(--blue-2);
}



.form__icon {
   position: absolute;
    right: 16px; 
}

.form__input-text:focus {
    border-color: var(--blue-2);
}

