.input {
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    
}

.input__text {
    
     box-sizing: border-box;
background: var(--white);
width: 350px;
height: 56px;
border: 1px solid var(--grey-2);
border-radius: 8px;
padding-top: 17px;
padding-bottom: 13px;
padding-left: 24px;
outline: none;
position: relative;
background-image: url("data:image/svg+xml,../../assets/images/icons-sprite.svg#check-circle")
}

.input_icon {
    position: absolute;
    right: 16px;
    
}



.input__text_filled (вставить в другое место){

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: var(--grey-4);
}

.input__text::placeholder {
 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
color: #DDE2E5;

}
.input_success {
    border: 1px solid var(--blue-2);
    box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}
.input_invalid {
    border: 1px solid var(--red);
    box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
}

.input__text:focus {
box-sizing: border-box;
    border: 1px solid var(--blue-2);
    box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}

.input__text_invalid:focus {
    border: 1px solid var(--red);
box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
}
