.forms__preview {

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 16px;
    column-gap: 32px;
    grid-auto-flow: column;
    margin-top: 49px;
    pointer-events: none;
}

.forms__atoms {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    gap: 32px;
}

.forms__molecules {
    display: flex;
    gap: 32px;

}

.forms__molecules_inner-page {

    margin-top: 32px;
    flex-wrap: wrap
}


@media (max-width:767px) {
    .forms__preview {
        row-gap: 8px;
        column-gap: 8px;

        margin-top: 16px;

    }

    .forms__molecules {
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        gap: 16px;

    }

    .forms__atoms {

        gap: 16px;
    }

    .forms__molecules_inner-page {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 16px;

    }
}